/* basic styles */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin: 35px;
}

h1, p {
    color: #000;
}

/* timeline styles */

.timeline-wrapper {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #F6F6F6;
    position: relative;
    border-radius: 5px;
    color: #cccccc;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.timeline-available {
    height: inherit;
    display: inline-flex;
    position: absolute;
    user-select: none;
}

.timeline-available .time-block {
    width: 200px;
    float: left;
    padding: 18px 0 0 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    font-size: smaller;
}

.timeline-range {
    height: inherit;
    background-color: #8DC3E4;
    position: absolute;
    border-radius: inherit;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.time-cursor {
    position: absolute;
    top: 0;
    width: 100px;
    padding: 16px 0 15px 0;
    background-color: #2895D4;
    border-radius: inherit;
    text-align: center;
    cursor: ew-resize;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: 300;
}